body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    overflow: hidden;
}

.navbar {
   border-bottom: 6px solid rgb(126, 20, 225);
   background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.proyectos {
    border-top: 2px dashed  rgb(126, 20, 225);
    border-bottom: 2px dashed  rgb(126, 20, 225);
}

h4 {
    padding: 6px;
    border-radius: 5px;
    background-color:  rgb(194, 129, 254);
    color: #fff;
    transition: 1s;
}

h4:hover {
    background-color: rgb(126, 20, 225);
}

